* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html 
{
    height: 100%;
}
/* ------------------------------------ HEADER ------------------------------------- */ -->
header
{
    height: 100px;
    flex-shrink: 0;
    padding-left: 163px;
    padding-right: 163px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo
{
    width: 300px;
    height: 70px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.header a
{
    border-radius: 6px;
    height: 104px;
    width: 250px;
}
.header_logo a img
{
    width: 165px;
    height: 70px;
    flex-shrink: 0;
}
.header_category
{
    display: flex;
    height: 26.667px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.header_category a 
{
    color: #000;
    font-family: Sans Serif Collection;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 7.5px;
}
.Exit
{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
}
.Exit img
{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
/* ------------------------------------ TOOLBAR ------------------------------------- */ -->
.toolbar
{
    height: 65px;
    flex-shrink: 0;
    padding-left: 163px;
    padding-right: 163px;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    justify-content: space-between;
    align-items: center;
}
.toolbar a
{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar img
{
    width: 55px;
    height: 54.942px;
    flex-shrink: 0; 
    margin-right: 31px;
}
.toolbar .active
{
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 41.5px;
    width: 260px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #A8C0ED;
}
/* ------------------------------------ HISTORY ------------------------------------- */ -->
.Coach 
{
    height: 50px;
    padding-left: 163px;
    padding-right: 163px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A8C0ED;
    background-clip: content-box;
    border-radius: 10px;
    padding-top: 15px;
}
.Coach .row a
{ 
    font-family: Sen;
    font-size: 24px;
    margin-left: 69px;
}
.Coach .Down img
{
    width: 24.248px;
    margin-right: 36.75px;
}
/* ------------------------------------ CALENDER ------------------------------------- */ -->
.calender
{
    height: 50px;
    padding-left: 163px;
    padding-right: 163px;
    display: grid;
    grid-template-columns: 200px 100px;
    align-items: center;
}
.calender div
{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 34px;
    display: flex;
    align-items: center;
}
.calender .dropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    min-height: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 260px;
}
.calender .dropdown:hover
{
    border-bottom: 5px solid blue;
}
.calender .dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.calender .dropdown-content a:hover
{
    background-color: black;
    color: white
}
/* ------------------------------------ NOTICE ------------------------------------- */ -->
.notice
{
    height: auto;
    padding-left: 257px;
    padding-right: 257px;
    display: grid;
    grid-template-columns: 199px 183px 89px 51px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    align-items: center;
    justify-content: space-between;
}
.notice a
{
    width: max-content;
    padding-left: 40px;
}
.notice .star
{
    width: 14px;
}
.notice .down
{
    width: 14px;
}
.page
{
    width: 100%;
    height: 58px;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    justify-content: center;
}
.page .page_number 
{
    height: fit-content;
    display: grid;
    grid-template-columns: 20px;
    background-color: #A8C0ED;
    color: black;
    border-radius: 5px;
    justify-items: center;
    margin-left: 5px;
}

