* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html 
{
    height: 100%;
}
/* ------------------------------------ HEADER ------------------------------------- */ -->
#header {
    width: 100%;
    background: #A8C0ED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.header-row {
    align-items: center;
}
.logo {
    border-radius: 10px;
    padding: 10px;
    margin-left: 30px;
}
.title {
    color: #000;
    font-family: Sans Serif Collection;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
    letter-spacing: 7.5px;
    margin-left: 70px;
}
.desc {
    color: #000;
    font-family: Sen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
}
.company {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 29px 0px 0px 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103%;
    height: 110px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.company h4 {
    display: inline;
    font-weight: 500;
}
.company .iconLogout {
        --s: 0.1em;   /* the thickness of the line */
        --c: #2c4bff; /* the color */
        color: #0000;
        padding-bottom: var(--s);
        background: 
          linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
          linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
        -webkit-background-clip: text,padding-box;
                background-clip: text,padding-box;
        transition: 0.5s;   
}
.company .iconLogout:hover {
    --_p: 100%;
    cursor: pointer;
}
.iconLogout {
    font-weight: 900;
    font-size: 38px;
    margin-right: 25px;
}
.Exit
{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-decoration-line: underline;
    display: flex;
    align-items: center;
}
.Exit img
{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
/* ------------------------------------ TOOLBAR ------------------------------------- */ -->
.toolbar
{
    height: 65px;
    flex-shrink: 0;
    padding-left: 163px;
    padding-right: 163px;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    justify-content: space-between;
    align-items: center;
}
.toolbar a
{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar img
{
    width: 55px;
    height: 54.942px;
    flex-shrink: 0; 
    margin-right: 31px;
}
.toolbar .active
{
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 41.5px;
    width: 260px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #A8C0ED;
}
.toolbar a:hover {
    background-color: #a8c0ed;
    border-radius: 14px;
    color: #fff;
    font-weight: 600;
}
.toolbar a:last-child:hover {
    color: red;
    font-weight: 800px;
    background-color: transparent;
}
/* ------------------------------------ CONTENT ------------------------------------- */ -->
.Question
{
    width: 1230px;
    height: auto;
    flex-shrink: 0; 
    fill: #FFF;
    padding-left: 20%;
    padding-top: 75px;
}
.Question .Regular_Question
{
    color: #000;
    font-family: Sen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
    border-left: 10px solid #A8C0ED;
    background: #FFF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 25px; 
}
.Question .Regular_Question:hover {
    color: red;
    cursor: pointer;
}
.Question a
{
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    display: flex;
    padding-left: 37px;
    padding-top: 24px;
}
.Question a:hover {
    font-size: 22px;
    color: blue;
    cursor: pointer;
}
.Technical_Assistance
{
    width: 1230px;
    height: auto;
    flex-shrink: 0; 
    fill: #FFF;
    padding-left: 20%;
    padding-top: 24px;
}
.Technical_Assistance .Bar
{
    color: #000;
    font-family: Sen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
    border-left: 10px solid #A8C0ED;
    background: #FFF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 25px;
}
.Technical_Assistance .Bar:hover {
    color: red;
    cursor: pointer;
}
.Technical_Assistance .Video
{
    width: 925px;
    height: 430px;
    flex-shrink: 0; 
    background-color:#D9D9D9;
    color: #D9D9D9;
    margin-top: 29px;
}
.Technical_Assistance .Title
{
    display: flex;
    justify-content: center;
}
.Contact_Information
{
    width: 1230px;
    height: auto;
    flex-shrink: 0; 
    fill: #FFF;
    padding-left: 20%;
    padding-top: 29px;
}
.Contact_Information .title
{
    color: #000;
    font-family: Sen;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
    border-left: 10px solid #A8C0ED;
    background: #FFF;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 25px;
    margin-bottom: 29px;
}
.Contact_Information a
{
    color: #000;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    display: flex;
    padding-left: 95px;
}